<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Cards</title>
     <!-- Conexão com todos os css -->
     <link rel="stylesheet" href="../css/base.css">
     <link rel="stylesheet" href="../css/layout.css">
     <link rel="stylesheet" href="../css/components.css">
     <link rel="stylesheet" href="../css/utilities.css">
     <!-- Fonte -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600;700&display=swap"
          rel="stylesheet">
</head>

<body>
     <article class="card">
          <div class="card-content">
               <div class="card-superior">
                    <h3 class="card-titulo">Lorem ipsumCommodi quae voluptate architecto ipsum veritatis.</h3>
                    <div class="tag"></div> <!-- criarei a parte-->
               </div>
               <div class="card-inferior">
                    <div class="barra-progresso"></div> <!-- criarei a parte-->
                    <div class="card-data">
                         <span>Última atualização:</span>
                         <span class="card-date">xx/xx/xxxx</span>
                    </div>
               </div>
          </div>
     </article>
</body>

</html>
